/* Generali */

* {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}

a {
  color: #fff;
}

.card-header {
  font-size: 2rem;
}

/* Macroaree */

.wrapper-top {
  background-color: #fff;
  height: 4rem;
}

.wrapper-bottom {
  display: flex;
  height: calc(100vh - 4rem);
}

.sidebar {
  background-color: rgba(1, 0, 24, 0.8);
  width: 10rem;
  background-image: url(../img/sidebar-bg.png);
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
}

/* Navbar */

.navbar form {
  flex-grow: 1;
  position: relative;
}

.navbar a {
  padding: 0 .65rem;
}

.nav-link {
  color: #fff;
}

form .fa-search{

  position: absolute;
  top: .7rem;
  left: .7rem;
}

form input {
  text-indent: 1.25rem;
}

/* Sidebar */

@media all and (max-width: 576px) {
  .sidebar {
    width: 5rem;
  }
}

/* Main Content */

.main-content a {
  font-size: .75rem;
  margin: 0 .5rem;
}

/* Info */

.info {
  background-color: #1b70e8f1;
  color: #fff;
  width: 100%;
}

#boolean {
  font-size: 1.75rem;
}

#app {
  margin-left: 0;
}

#online-students {
  font-size: 1.5rem;
}

/* Prossime Classi */

table a {
  font-size: 1rem;
}

.card-header {
  color: #000;
}

th,
td {
  text-align: center;
}

tr,
th {
  height: 4rem;
}

.w-50,
.name {
  text-align: start;
}

.action {
  min-width: 6.5rem;
}

.action a {
  margin: 0;
}

.date {
  min-width: 7rem;
}